In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"house_price.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [4]:
dropColumns = ["Id", "MSSubClass", "MSZoning", "Street", "LandContour", "Utilities", "LandSlope", "Condition1", "Condition2", "BldgType", "OverallCond", "RoofStyle", 
               "RoofMatl", "Exterior1st", "Exterior2nd","MasVnrType", "ExterCond", "Foundation", "BsmtCond", "BsmtExposure", "BsmtFinType1",
              "BsmtFinType2", "BsmtFinSF2", "BsmtUnfSF", "Heating", "Electrical", "LowQualFinSF", "BsmtFullBath", "BsmtHalfBath", "HalfBath"] + ["SaleCondition", "SaleType", "YrSold", "MoSold", "MiscVal", "MiscFeature", "Fence", "PoolQC", "PoolArea", "ScreenPorch", "3SsnPorch", "EnclosedPorch", "OpenPorchSF", "WoodDeckSF", "PavedDrive", "GarageCond", "GarageQual", "GarageType", "FireplaceQu", "Functional", "KitchenAbvGr", "BedroomAbvGr"]

droppedDf = df.drop(columns=dropColumns, axis=1)
droppedDf.head()

,LotFrontage,LotArea,Alley,LotShape,LotConfig,Neighborhood,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,...,GrLivArea,FullBath,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageFinish,GarageCars,GarageArea,SalePrice
0,65.0,8450,NaN,Reg,Inside,CollgCr,2Story,7,2003,2003,...,1710,2,Gd,8,0,2003.0,RFn,2,548,208500
1,80.0,9600,NaN,Reg,FR2,Veenker,1Story,6,1976,1976,...,1262,2,TA,6,1,1976.0,RFn,2,460,181500
2,68.0,11250,NaN,IR1,Inside,CollgCr,2Story,7,2001,2002,...,1786,2,Gd,6,1,2001.0,RFn,2,608,223500
3,60.0,9550,NaN,IR1,Corner,Crawfor,2Story,7,1915,1970,...,1717,1,Gd,7,1,1998.0,Unf,3,642,140000
4,84.0,14260,NaN,IR1,FR2,NoRidge,2Story,8,2000,2000,...,2198,2,Gd,9,1,2000.0,RFn,3,836,250000

In [7]:
# import pandas_profiling 

# profile = droppedDf.profile_report(title='Pandas Profiling Report')
# profile.to_file(output_file="Data_Profiling_v3.html")

In [5]:
droppedDf.isnull().sum().sort_values(ascending=False)

Alley           1369
LotFrontage      259
GarageFinish      81
GarageYrBlt       81
BsmtQual          37
MasVnrArea         8
CentralAir         0
GarageArea         0
GarageCars         0
Fireplaces         0
TotRmsAbvGrd       0
KitchenQual        0
FullBath           0
GrLivArea          0
2ndFlrSF           0
1stFlrSF           0
TotalBsmtSF        0
HeatingQC          0
LotArea            0
BsmtFinSF1         0
ExterQual          0
YearRemodAdd       0
YearBuilt          0
OverallQual        0
HouseStyle         0
Neighborhood       0
LotConfig          0
LotShape           0
SalePrice          0
dtype: int64

In [6]:
droppedDf["Alley"].isna().sum()

1369

In [7]:
droppedDf["Alley"].fillna("NO", inplace=True)

In [8]:
droppedDf["LotFrontage"].fillna(df.LotFrontage.mean(), inplace=True)
droppedDf["LotFrontage"]
droppedDf

,LotFrontage,LotArea,Alley,LotShape,LotConfig,Neighborhood,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,...,GrLivArea,FullBath,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageFinish,GarageCars,GarageArea,SalePrice
0,65.0,8450,NO,Reg,Inside,CollgCr,2Story,7,2003,2003,...,1710,2,Gd,8,0,2003.0,RFn,2,548,208500
1,80.0,9600,NO,Reg,FR2,Veenker,1Story,6,1976,1976,...,1262,2,TA,6,1,1976.0,RFn,2,460,181500
2,68.0,11250,NO,IR1,Inside,CollgCr,2Story,7,2001,2002,...,1786,2,Gd,6,1,2001.0,RFn,2,608,223500
3,60.0,9550,NO,IR1,Corner,Crawfor,2Story,7,1915,1970,...,1717,1,Gd,7,1,1998.0,Unf,3,642,140000
4,84.0,14260,NO,IR1,FR2,NoRidge,2Story,8,2000,2000,...,2198,2,Gd,9,1,2000.0,RFn,3,836,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,62.0,7917,NO,Reg,Inside,Gilbert,2Story,6,1999,2000,...,1647,2,TA,7,1,1999.0,RFn,2,460,175000
1456,85.0,13175,NO,Reg,Inside,NWAmes,1Story,6,1978,1988,...,2073,2,TA,7,2,1978.0,Unf,2,500,210000
1457,66.0,9042,NO,Reg,Inside,Crawfor,2Story,7,1941,2006,...,2340,2,Gd,9,2,1941.0,RFn,1,252,266500
1458,68.0,9717,NO,Reg,Inside,NAmes,1Story,5,1950,1996,...,1078,1,Gd,5,0,1950.0,Unf,1,240,142125
1459,75.0,9937,NO,Reg,Inside,Edwards,1Story,5,1965,1965,...,1256,1,TA,6,0,1965.0,Fin,1,276,147500

In [9]:
droppedDf["GarageFinish"].fillna("NO", inplace=True)

In [14]:
droppedDf["GarageYrBlt"].fillna(df.GarageYrBlt.mean(), inplace=True)
droppedDf["GarageYrBlt"]

0       2003.0
1       1976.0
2       2001.0
3       1998.0
4       2000.0
         ...
1455    1999.0
1456    1978.0
1457    1941.0
1458    1950.0
1459    1965.0
Name: GarageYrBlt, Length: 1460, dtype: float64

In [11]:
droppedDf["BsmtQual"].fillna("NO", inplace=True)
droppedDf["BsmtQual"]

0       Gd
1       Gd
2       Gd
3       TA
4       Gd
        ..
1455    Gd
1456    Gd
1457    TA
1458    TA
1459    TA
Name: BsmtQual, Length: 1460, dtype: object

In [12]:
droppedDf["MasVnrArea"].fillna(0, inplace=True)
droppedDf["MasVnrArea"]

0       196.0
1         0.0
2       162.0
3         0.0
4       350.0
        ...
1455      0.0
1456    119.0
1457      0.0
1458      0.0
1459      0.0
Name: MasVnrArea, Length: 1460, dtype: float64

In [13]:
droppedDf['MasVnrAreaCatg'] = np.where(droppedDf.MasVnrArea>1000,'BIG',
                                      np.where(droppedDf.MasVnrArea>500,'MEDIUM',
                                              np.where(droppedDf.MasVnrArea>0,'SMALL','NO')))

In [15]:
droppedDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   LotFrontage     1460 non-null   float64
 1   LotArea         1460 non-null   int64
 2   Alley           1460 non-null   object
 3   LotShape        1460 non-null   object
 4   LotConfig       1460 non-null   object
 5   Neighborhood    1460 non-null   object
 6   HouseStyle      1460 non-null   object
 7   OverallQual     1460 non-null   int64
 8   YearBuilt       1460 non-null   int64
 9   YearRemodAdd    1460 non-null   int64
 10  MasVnrArea      1460 non-null   float64
 11  ExterQual       1460 non-null   object
 12  BsmtQual        1460 non-null   object
 13  BsmtFinSF1      1460 non-null   int64
 14  TotalBsmtSF     1460 non-null   int64
 15  HeatingQC       1460 non-null   object
 16  CentralAir      1460 non-null   object
 17  1stFlrSF        1460 non-null   int64
 18  2ndFlrSF        1460 non-null   int64
 19  GrLivArea       1460 non-null   int64
 20  FullBath        1460 non-null   int64
 21  KitchenQual     1460 non-null   object
 22  TotRmsAbvGrd    1460 non-null   int64
 23  Fireplaces      1460 non-null   int64
 24  GarageYrBlt     1460 non-null   float64
 25  GarageFinish    1460 non-null   object
 26  GarageCars      1460 non-null   int64
 27  GarageArea      1460 non-null   int64
 28  SalePrice       1460 non-null   int64
 29  MasVnrAreaCatg  1460 non-null   object
dtypes: float64(3), int64(15), object(12)
memory usage: 342.3+ KB

In [20]:
df=droppedDf.copy()
df.head()

,LotFrontage,LotArea,Alley,LotShape,LotConfig,Neighborhood,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,...,FullBath,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageFinish,GarageCars,GarageArea,SalePrice,MasVnrAreaCatg
0,65.0,8450,NO,Reg,Inside,CollgCr,2Story,7,2003,2003,...,2,Gd,8,0,2003.0,RFn,2,548,208500,SMALL
1,80.0,9600,NO,Reg,FR2,Veenker,1Story,6,1976,1976,...,2,TA,6,1,1976.0,RFn,2,460,181500,NO
2,68.0,11250,NO,IR1,Inside,CollgCr,2Story,7,2001,2002,...,2,Gd,6,1,2001.0,RFn,2,608,223500,SMALL
3,60.0,9550,NO,IR1,Corner,Crawfor,2Story,7,1915,1970,...,1,Gd,7,1,1998.0,Unf,3,642,140000,NO
4,84.0,14260,NO,IR1,FR2,NoRidge,2Story,8,2000,2000,...,2,Gd,9,1,2000.0,RFn,3,836,250000,SMALL

## Modeling

In [16]:
droppedDf = droppedDf.drop(['SalePrice'],axis=1)
inputDf = droppedDf.iloc[[0]].copy()

for i in inputDf:
    if inputDf[i].dtype == "object":
        inputDf[i] = droppedDf[i].mode()[0]
    elif inputDf[i].dtype == "int64" or inputDf[i].dtype == "float64":
        inputDf[i] = droppedDf[i].mean()
inputDf

,LotFrontage,LotArea,Alley,LotShape,LotConfig,Neighborhood,HouseStyle,OverallQual,YearBuilt,YearRemodAdd,...,GrLivArea,FullBath,KitchenQual,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageFinish,GarageCars,GarageArea,MasVnrAreaCatg
0,70.049958,10516.828082,NO,Reg,Inside,NAmes,1Story,6.099315,1971.267808,1984.865753,...,1515.463699,1.565068,TA,6.517808,0.613014,1978.506164,Unf,1.767123,472.980137,NO

In [17]:
import lightgbm as lgb
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [18]:
obj_feat = list(df.loc[:, df.dtypes == 'object'].columns.values)
obj_feat

['MSZoning',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType',
 'SaleCondition']

In [19]:
for feature in obj_feat:
    df[feature] = df[feature].astype('category')

In [20]:
# To define the input and output feature
x = df.drop(['SalePrice'],axis=1)
y = df.SalePrice

# train and test split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=1)
x.iloc[0].index

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [21]:
model = lgb.LGBMRegressor(max_depth=5, 
                          n_estimators = 100, 
                          learning_rate = 0.2,
                          min_child_samples = 30)
model.fit(x_train, y_train)

pred_y_train = model.predict(x_train)
pred_y_test = model.predict(x_test)

r2_train = metrics.r2_score(y_train, pred_y_train)
r2_test = metrics.r2_score(y_test, pred_y_test)

msle_train =metrics.mean_squared_log_error(y_train, pred_y_train)
msle_test =metrics.mean_squared_log_error(y_test, pred_y_test)

print(f"Train r2 = {r2_train:.2f} \nTest r2 = {r2_test:.2f}")
print(f"Train msle = {msle_train:.2f} \nTest msle = {msle_test:.2f}")

Train r2 = 0.98
Test r2 = 0.90
Train msle = 0.00
Test msle = 0.02

In [22]:
from sklearn.model_selection import GridSearchCV

params = [{"max_depth":[3, 5], 
            "n_estimators" : [50, 100], 
            "learning_rate" : [0.1, 0.2],
            "min_child_samples" : [20, 10]}]

gs_knn = GridSearchCV(model,
                      param_grid=params,
                      cv=5)

gs_knn.fit(x_train, y_train)
gs_knn.score(x_train, y_train)

pred_y_train = model.predict(x_train)
pred_y_test = model.predict(x_test)

r2_train = metrics.r2_score(y_train, pred_y_train)
r2_test = metrics.r2_score(y_test, pred_y_test)

msle_train =metrics.mean_squared_log_error(y_train, pred_y_train)
msle_test =metrics.mean_squared_log_error(y_test, pred_y_test)

print(f"Train r2 = {r2_train:.2f} \nTest r2 = {r2_test:.2f}")
print(f"Train msle = {msle_train:.2f} \nTest msle = {msle_test:.2f}")

gs_knn.best_params_

# find best model score

Train r2 = 0.98
Test r2 = 0.90
Train msle = 0.00
Test msle = 0.02

{'learning_rate': 0.2,
 'max_depth': 5,
 'min_child_samples': 10,
 'n_estimators': 100}

In [23]:
# save the model to disk
import pickle

filename = 'finalized_model'
pickle.dump(model, open(filename, 'wb'))

In [25]:
import pickle

# save the model
filename = 'finalized_model.model'
pickle.dump(model, open(filename, 'wb'))

In [26]:
# Load the model from disk
import pickle

filename = 'finalized_model.model'

loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)
print(result)

0.9027994912067291